<nav class="flex-column nav px-3">

    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        Home
    </NavLink>

    <hr />

    <div class="fw-bold mb-2">Stundenplan</div>

    <NavLink class="nav-link" href="stundenplan-read">
        Anzeigen
    </NavLink>

    <NavLink class="nav-link" href="stundenplan-create">
        Erstellen
    </NavLink>

    <NavLink class="nav-link" href="stundenplan-update">
        Bearbeiten
    </NavLink>

    <NavLink class="nav-link" href="stundenplan-delete">
        Löschen
    </NavLink>

</nav>
