USE [master]
GO
/****** Object:  Database [StundenplanDB]    Script Date: 17.12.2025 19:50:37 ******/
CREATE DATABASE [StundenplanDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StundenplanDB', FILENAME = N'C:\Users\robin\StundenplanDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StundenplanDB_log', FILENAME = N'C:\Users\robin\StundenplanDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StundenplanDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StundenplanDB]
GO
/****** Object:  Table [dbo].[Klassen]    Script Date: 17.12.2025 19:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klassen](
	[KlasseID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KlasseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lehrer]    Script Date: 17.12.2025 19:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lehrer](
	[LehrerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LehrerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StundenplanEintraege]    Script Date: 17.12.2025 19:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StundenplanEintraege](
	[EintragID] [int] IDENTITY(1,1) NOT NULL,
	[KlasseID] [int] NOT NULL,
	[LehrerID] [int] NOT NULL,
	[ZimmerID] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Uhrzeit] [time](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EintragID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zimmer]    Script Date: 17.12.2025 19:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zimmer](
	[ZimmerID] [int] IDENTITY(1,1) NOT NULL,
	[Bezeichnung] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZimmerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Bezeichnung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StundenplanEintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Klassen] FOREIGN KEY([KlasseID])
REFERENCES [dbo].[Klassen] ([KlasseID])
GO
ALTER TABLE [dbo].[StundenplanEintraege] CHECK CONSTRAINT [FK_Stundenplan_Klassen]
GO
ALTER TABLE [dbo].[StundenplanEintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Lehrer] FOREIGN KEY([LehrerID])
REFERENCES [dbo].[Lehrer] ([LehrerID])
GO
ALTER TABLE [dbo].[StundenplanEintraege] CHECK CONSTRAINT [FK_Stundenplan_Lehrer]
GO
ALTER TABLE [dbo].[StundenplanEintraege]  WITH CHECK ADD  CONSTRAINT [FK_Stundenplan_Zimmer] FOREIGN KEY([ZimmerID])
REFERENCES [dbo].[Zimmer] ([ZimmerID])
GO
ALTER TABLE [dbo].[StundenplanEintraege] CHECK CONSTRAINT [FK_Stundenplan_Zimmer]
GO
USE [master]
GO
